
{% extends 'paginas/base.html' %}
{% block titulo %} Inicio {% endblock %} 
{% block contenido %} 
                
<div class="p-5 bg-light">
    <div class="container">
        <h1 class="display-3">Bienvenidos</h1>
        <p class="lead">Registro y consulta de alumnos</p>
        <hr class="my-2">
        <p></p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/registro" role="button">Registro</a>
            <a class="btn btn-primary btn-lg" href="/consulta " role="button">Consulta</a>
            
        </p>
    </div>
</div>


{% endblock %}